In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sqlalchemy import create_engine

# si se dockeriza poner el nombre del contenedor en vez de localhost
engine = create_engine('mssql+pyodbc://scraper:scraper1234A@localhost:1433/tfm_lesiones?driver=ODBC+Driver+17+for+SQL+Server')

query = """SELECT * FROM tfm_lesiones.dbo.jugador;"""

df_jugadores = pd.read_sql(query,engine)

query = """SELECT * FROM tfm_lesiones.dbo.lesiones;"""

df_lesiones = pd.read_sql(query,engine)

query = """SELECT * FROM tfm_lesiones.dbo.clubs;"""

df_clubs = pd.read_sql(query,engine)

query = """SELECT * FROM tfm_lesiones.dbo.estadisticas_generales;"""

df_estadisticas_generales = pd.read_sql(query,engine)

df_estadisticas_generales

,id_jugador,nombre_competicion,jornada,fecha_partido,localidad,jugado_para,jugado_contra,resultado,temporada,minutos_jugados
0,909176,ZYPA,3,06/03/24,A,30606,4590,2:1,2023,13
1,909176,ZYPA,4,10/03/24,H,30606,42109,1:2,2023,30
2,909176,ZYPA,5,16/03/24,A,30606,37577,0:4,2023,17
3,909176,ZYPA,7,03/04/24,H,30606,429,0:1,2023,11
4,909176,ZYPA,8,07/04/24,H,30606,18945,2:3,2023,8
...,...,...,...,...,...,...,...,...,...,...
3446356,40204,IT1,35,06/05/17,A,416,506,1:1,2016,90
3446357,40204,IT1,36,14/05/17,H,416,6195,0:5,2016,90
3446358,40204,IT1,37,21/05/17,A,416,252,2:1,2016,90
3446359,40204,IT1,38,28/05/17,H,416,6574,5:3,2016,90
3446360,40204,CIT,Octavos,12/01/17,A,416,5,2:1,2016,90

In [15]:
df_estadisticas_generales

,id_jugador,nombre_competicion,jornada,fecha_partido,localidad,jugado_para,jugado_contra,resultado,temporada,minutos_jugados
0,909176,ZYPA,3,06/03/24,A,30606,4590,2:1,2023,13
1,909176,ZYPA,4,10/03/24,H,30606,42109,1:2,2023,30
2,909176,ZYPA,5,16/03/24,A,30606,37577,0:4,2023,17
3,909176,ZYPA,7,03/04/24,H,30606,429,0:1,2023,11
4,909176,ZYPA,8,07/04/24,H,30606,18945,2:3,2023,8
...,...,...,...,...,...,...,...,...,...,...
3446356,40204,IT1,35,06/05/17,A,416,506,1:1,2016,90
3446357,40204,IT1,36,14/05/17,H,416,6195,0:5,2016,90
3446358,40204,IT1,37,21/05/17,A,416,252,2:1,2016,90
3446359,40204,IT1,38,28/05/17,H,416,6574,5:3,2016,90
3446360,40204,CIT,Octavos,12/01/17,A,416,5,2:1,2016,90

In [16]:
df_lesiones['id_temporada'] = df_lesiones['temporada']

df_estadisticas_generales['id_temporada'] = df_estadisticas_generales['temporada']

In [11]:
df_jugadores_lesiones = pd.merge(df_jugadores, df_lesiones, on=['id_jugador','id_temporada'])

In [17]:
df_minutos_por_jugador_anio = df_estadisticas_generales.groupby(['id_jugador', 'id_temporada'])['minutos_jugados'].sum().reset_index(name='minutos_jugados_totales')

In [36]:
# df_lesiones_por_jugador_anio = df_jugadores_lesiones.groupby(['id_jugador', 'id_temporada']).size().reset_index(name='numero_lesiones')

df_lesiones_por_jugador_anio = df_jugadores_lesiones.groupby(['id_jugador', 'id_temporada']).agg(
    edad=('edad', 'first'),
    numero_lesiones=('lesion', 'count')
).reset_index()

In [37]:
df_lesiones_por_jugador_anio

      id_jugador id_temporada  edad  numero_lesiones
0         100131         2017    26                6
1         100131         2018    27                3
2         100131         2019    28                3
3         100131         2020    29                1
4         100131         2023    32                2
...          ...          ...   ...              ...
15806      99922         2023    33                1
15807      99977         2011    21                1
15808      99977         2019    29                1
15809      99977         2020    30                1
15810      99977         2023    32                1

[15811 rows x 4 columns]

In [38]:
df_jugadores_lesiones_estadisticas = pd.merge(df_minutos_por_jugador_anio, df_lesiones_por_jugador_anio, on=['id_jugador','id_temporada'])

In [39]:
df_jugadores_lesiones_estadisticas

      id_jugador id_temporada  minutos_jugados_totales  edad  numero_lesiones
0         100131         2017                     3845    26                6
1         100131         2018                     4306    27                3
2         100131         2019                      894    28                3
3         100131         2020                     1939    29                1
4         100131         2023                     1157    32                2
...          ...          ...                      ...   ...              ...
15656      99922         2023                      315    33                1
15657      99977         2011                     1175    21                1
15658      99977         2019                      935    29                1
15659      99977         2020                     1846    30                1
15660      99977         2023                      825    32                1

[15661 rows x 5 columns]

In [49]:
import pandas as pd

# Supongamos que tu DataFrame original se llama 'data'
# data = pd.read_csv('tu_archivo.csv')  # Reemplaza 'tu_archivo.csv' con el nombre de tu archivo CSV

data = df_jugadores_lesiones_estadisticas  # Reemplaza 'tu_archivo.csv' con el nombre de tu archivo CSV


# Ordenar por id_jugador y id_temporada
data = data.sort_values(by=['id_jugador', 'id_temporada'])

# Crear una columna desfasada de minutos jugados
data['minutos_jugados_totales_desfasado'] = data.groupby('id_jugador')['minutos_jugados_totales'].shift(1)

# Eliminar filas con NaN que se crearon debido al desfase
data = data.dropna(subset=['minutos_jugados_totales_desfasado'])

# Verificar el DataFrame desfasado
print(data.head())

  id_jugador id_temporada  minutos_jugados_totales  edad  numero_lesiones  \
1     100131         2018                     4306    27                3
2     100131         2019                      894    28                3
3     100131         2020                     1939    29                1
4     100131         2023                     1157    32                2
9     100980         2016                     6690    25                2

   minutos_jugados_totales_desfasado
1                             3845.0
2                             4306.0
3                              894.0
4                             1939.0
9                             2220.0

In [44]:
# Identificar el último año para cada jugador
ultimo_ano = data.groupby('id_jugador')['id_temporada'].max().reset_index()
ultimo_ano = ultimo_ano.rename(columns={'id_temporada': 'ultimo_ano'})

# Agregar esta información al DataFrame principal
data_agrupada = pd.merge(data, ultimo_ano, on='id_jugador')

# Separar los datos del último año (para predicción) y los datos de los años anteriores (para entrenamiento)
data_prediccion = data_agrupada[data_agrupada['id_temporada'] == data_agrupada['ultimo_ano']]
data_entrenamiento = data_agrupada[data_agrupada['id_temporada'] != data_agrupada['ultimo_ano']]

# Eliminar la columna 'ultimo_ano' ya que no es necesaria para el entrenamiento
data_entrenamiento = data_entrenamiento.drop(columns=['ultimo_ano'])
data_prediccion = data_prediccion.drop(columns=['ultimo_ano'])

print("Datos de entrenamiento:")
print(data_entrenamiento.head())

print("Datos de predicción:")
print(data_prediccion.head())

Datos de entrenamiento:
  id_jugador id_temporada  minutos_jugados_totales  edad  numero_lesiones  \
0     100131         2018                     4306    27                3
1     100131         2019                      894    28                3
2     100131         2020                     1939    29                1
4     100980         2016                     6690    25                2
6     100986         2020                     3076    29                2

   minutos_jugados_totales_desfasado
0                             3845.0
1                             4306.0
2                              894.0
4                             2220.0
6                             2135.0
Datos de predicción:
   id_jugador id_temporada  minutos_jugados_totales  edad  numero_lesiones  \
3      100131         2023                     1157    32                2
5      100980         2023                      524    33                1
9      100986         2023                     1678    32                1
10     100988         2016                     1800    24                1
17     101213         2023                      172    32                2

    minutos_jugados_totales_desfasado
3                              1939.0
5                              6690.0
9                              1517.0
10                              468.0
17                               90.0

In [50]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Separar las características (X) del objetivo (y)
X_train = data_entrenamiento.drop('numero_lesiones', axis=1)
X_train = data_entrenamiento.drop('numero_lesiones', axis=1)
y_train = data_entrenamiento['numero_lesiones']

X_test = data_prediccion.drop('numero_lesiones', axis=1)
y_test = data_prediccion['numero_lesiones']

# Crear y entrenar el modelo
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predecir en el conjunto de prueba
y_pred = model.predict(X_test)

# Evaluar el modelo
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')

MAE: 1.1166562173458723
MSE: 1.8299961337513064